{
  "presets": [
    ["es2015", { "modules": false }],
    "stage-3"
  ],
//  "presets": [
//    ["latest", {
//      "es2015": {
//        "modules": false
//      }
//    }]
//  ],
//  "plugins": [
//    ["transform-object-rest-spread"]
//  ],
  "comments": false
}
